<!-- accounts/signup.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center my-5">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header bg-light">
          <h2 class="text-center mb-0">Sign Up</h2>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group my-2">
              {{ field.label_tag }}
              {{ field }}

              {% for error in field.errors %}
              <p class="text-danger">{{ error }}</p>
              {% endfor %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}